.wrapper {
  background: #f7f8fb;
  padding: 80px 20px;
  margin-top: -4rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* INTRO */
.intro {
  max-width: 700px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.7;
}

.intro p {
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(27, 25, 25);
}

/* LOCATION */
.locationWrap {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 80px;
}

.locationContent h1 {
  font-family: Catamaran, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(34, 34, 34);
}

.locationContent p {
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(34, 34, 34);
}

.locationContent li {
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: rgb(181, 55, 197);
}

/* IMAGE */
.imageWrap {
  position: relative;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrap img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

/* Amoeba Shapes */
.amoeba1 {
  position: absolute;
  width: 320px;
  height: 320px;
  background: #b13ac3;
  opacity: 0.15;
  border-radius: 60% 40% 70% 30% / 40% 60% 40% 60%;
}

.amoeba2 {
  position: absolute;
  width: 280px;
  height: 280px;
  background: #45f6f5;
  opacity: 0.15;
  border-radius: 40% 60% 50% 50% / 60% 40% 60% 40%;
}

/* CONTENT */
.locationContent h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.wave {
  display: block;
  width: 120px;
  height: 6px;
  background: linear-gradient(90deg, #b13ac3, #45f6f5, #ffc938);
  border-radius: 10px;
  margin-top: 8px;
}

.locationContent p {
  margin: 20px 0;
}

.locationContent ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.locationContent li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* MAP */
.map iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 12px;
}

/* FORM */
.formWrap {
  padding: 40px;
  border-radius: 16px;

  max-width: 500px;
  width: 100%;

  margin: 0 auto; /* ⭐ This centers it */
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.formHeader h2 {
  font-family:
    Lato,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  color: rgb(27, 25, 25);
}
.dots {
  width: 80px;
  height: 20px;
  background-image: radial-gradient(#eccd4f 5px, transparent 5px);
  background-size: 16px 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #eee;
  background-color: #872faa;
}

.form input::placeholder,
textarea::placeholder {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  color: rgb(255, 255, 255);
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.form button {
  background: linear-gradient(90deg, #ffd312, #ffd312);
  border: none;
  padding: 10px;
  border-radius: 999px;
  max-width: 150px;
  margin: 0 auto;
  width: 100%;
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-shadow: 3px 3px 2px 0 white;
  color: rgb(87, 42, 92);
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.087);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .locationWrap {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .formWrap {
    padding: 0;
    border-radius: 16px;
    width: 100%;

    margin: 0 auto; /* ⭐ This centers it */
  }

  .locationWrap {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .imageWrap {
    width: 260px;
    height: 260px;
  }

  .imageWrap img {
    width: 200px;
    height: 200px;
  }
}
