.programDetail_container {
  max-width: 1200px;
  margin: 120px auto 60px;
  padding: 0 20px;
}

/* HEADER */
.programDetail_header h1 {
  font-size: 38px;
  font-weight: 700;
}

.programDetail_header h2 {
  margin-top: 10px;
  color: #6b7280;
}

/* INFO GRID */
.programDetail_infoGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.programDetail_infoGrid label {
  display: block;
  margin-bottom: 8px;
  font-family: Catamaran, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: rgb(34, 34, 34);
}

.pill {
  display: inline-block;
  padding: 10px 18px;
  background: linear-gradient(90deg, #b337c6bd, #b437c6);
  border-radius: 999px;
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(255, 255, 255);
}

/* MODULES */
.programDetail_modules {
  margin-top: 60px;
}

.programDetail_modules h3 {
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(27, 25, 25);
}

.moduleYear {
  margin-top: 30px;
}

.moduleYear h4 {
  margin-bottom: 15px;
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(27, 25, 25);
  font-style: italic;
}

.moduleYear ul {
  list-style: none;
}

.moduleYear li {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(27, 25, 25);
}

.moduleBullet {
  width: 20px;
  height: 8px;
  background: #facc15;
  border-radius: 4px;
  margin-right: 12px;
}

/* APPLY BUTTON */
.programDetail_apply {
  margin-top: 60px;
}

.applyBtn {
  background: #b437c6;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 2px 3px 2px 0 black;
}

/* BREAKPOINTS */

/* Desktop >1200 */
@media (min-width: 1200px) {
}

/* Tablet */
@media (max-width: 1200px) {
  .programDetail_infoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Tablet */
@media (max-width: 768px) {
  .programDetail_infoGrid {
    grid-template-columns: 1fr;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .programDetail_header h1 {
    font-size: 26px;
  }
}
