.wrapper {
  padding: 60px 40px;
  margin-top: -5rem;
}

.container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 40px;
}

.left {
}
.right {
}

.intro h2 {
  font-family: Catamaran, sans-serif;
  font-weight: 900;
  line-height: 30px;
  color: rgb(27, 25, 25);
  margin-bottom: 10px;
  text-align: center;
}

.intro p {
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(27, 25, 25);
}

.wave {
  height: 3px;
  width: 100%;
  background: repeating-linear-gradient(
    90deg,
    #aa56b8,
    #aa56b8 8px,
    transparent 8px,
    transparent 16px
  );
  margin-bottom: 2.5rem;
}

.searchWrap {
  display: flex;
  border: 2px solid #aa56b8;
  border-radius: 14px;
  overflow: hidden;
  margin: 30px 0;
}

.searchWrap input,
.select,
.textarea {
  flex: 1;
  border: none;
  padding: 16px;
  font-size: 15px;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.3s ease;
  background: #eeeeee;
  color: black;
}

.searchWrap .input::placeholder,
.textarea::placeholder {
  color: white;
  border: none !important;
}

.searchWrap input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.searchWrap button {
  width: 60px;
  font-size: 1.5rem;
  border: none;
  background: #eeeeee;
  color: #aa56b8;
}
.mobileFilterBar {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #eeeeee;
  padding: 20px;
  height: 100%;
  /* border-radius: 12px; */
  border: 3px solid white;
  transition: 0.25s;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-2px);
}

.card h3 {
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(34, 34, 34);
  margin-bottom: 1rem;
}

.university {
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: rgb(181, 55, 197);
}

.goldLine {
  height: 3px;
  background: #eccd4f;
  margin: 10px 0 16px;
}

.infoRow {
  display: flex;
  gap: 20px;
  margin: 8px 0;
}
.infoRow span {
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(34, 34, 34);
  word-break: keep-all;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  margin: 15px 0;
}

.detailsBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 150px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #b437c6, #b437c6);
  color: white;
  font-weight: 800;
  text-shadow: 1px 3px 0px black;
  cursor: pointer;
}
:any-link {
  text-decoration: none;
}

/* .filters {
  position: sticky;
  top: 100px;
  background: white;
  padding: 24px;
  border-radius: 14px;
}

.filterGroup {
  margin-top: 20px;
}

.cityGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.pagination button {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #c758a6;
  background: white;
  cursor: pointer;
  color: black;
}

.activePage {
  background: #c758a6 !important;
  color: black;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .mobileFilterBar {
    display: block;
    margin-bottom: 1rem;
  }

  .mobileFilterBar button {
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid black;
    background: #aa56b8;
    color: #eeeeee;
    cursor: pointer;
    padding: 0.8rem;
  }
}
