.drawerSidebar {
  background: white;
  padding: 24px;
  border-radius: 14px;
  display: none;
}
.sidebar {
  background: white;
  padding: 24px;
  border-radius: 14px;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.group {
  margin-bottom: 28px;
}

.group h4 {
  font-weight: 700;
  margin-bottom: 12px;
}

.checkbox {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.showAll {
  background: none;
  border: none;
  color: #b437c6;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 0;
}

.rangeLabel {
  margin-top: 10px;
  font-weight: 600;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .drawerSidebar{
    display: block;
  }

}