.sidebar {
  position: absolute;
  left: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.sidebar a {
  width: 40px;
  height: 40px;
  background: var(--primary-green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
